@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 18px;
  font-family: "Kumbh Sans", sans-serif;
}

.nav {
  display: flex;
  height: 100px;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-list {
  display: flex;
  position: absolute;
  justify-content: space-between;
  right: 10px;
  top: 0;
  bottom: 0;
  width: 100%;
  transition: 1s all ease-in-out;
  z-index: 1;
}

.desktop-navlist {
  display: none;
}
.nav-links {
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  line-height: 40px;
  background: white;
  width: 70%;
  gap: 30px;
}
.x-mark {
  display: flex;
  background-color: transparent;
  border: none;
  font-weight: bold;
  color: hsl(219, 9%, 45%);
}
.nav-links ul li a {
  font-weight: 700;
  font-size: 20px;
}

.transparent {
  background: black;
  opacity: 70%;
  width: 30%;
  z-index: 1;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.menu {
  font-size: 30px;
}
.logo {
  height: 20px;
}
.profie-img {
  width: 40px;
}
.profie-img:hover {
  border: 2px solid hsl(26, 100%, 55%);
  border-radius: 50%;
  cursor: pointer;
}
.cart {
  width: 30px;
  position: relative;
}
.cart:hover {
  cursor: pointer;
}
.cart-number {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: hsl(26, 100%, 55%);
  /* top: 32px;
  right: 22%; */
  margin: -15px 0 0 15px;
  color: white;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 6px;
}

.carousel {
  overflow: hidden;
  display: flex;
}

.inner {
  white-space: nowrap;
  transition: transfrom 0.3s;
}

.main-image {
  max-width: 100%;
  position: relative;
  display: inline-flex;
}

.main-image1 {
  display: none;
}

.prev {
  display: flex;
  align-items: center;
  position: absolute;
  left: 25px;
  top: 25%;
  background: white;
  padding: 10px;
  border-radius: 100%;
}
.next {
  display: flex;
  align-items: center;
  position: absolute;
  right: 25px;
  top: 25%;
  background: white;
  padding: 10px;
  border-radius: 100%;
}

.product-thumb {
  display: none;
}
.page-view {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}
.descripion-div {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.company {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  color: hsl(26, 100%, 55%);
  padding: 3px 0;
}
.descripion-div h1 {
  font-size: 25px;
  padding: 6px 0;
}
.info {
  text-align: justify;
  line-height: 1.5rem;
  padding: 10px 0;
  color: hsl(219, 9%, 45%);
}
.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.price-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.new-price {
  font-size: 30px;
  font-weight: 700;
}
.discount {
  background-color: hsl(25, 100%, 94%);
  font-size: 15px;
  font-weight: bold;
  color: hsl(26, 100%, 55%);
  padding: 2px 8px;
  border-radius: 4px;
}
.actual-price {
  color: hsl(220, 14%, 75%);
  font-weight: 700;
  text-decoration: line-through;
}
.add-cart {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.add-cart button:hover {
  cursor: pointer;
}
.add-delete {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  padding: 20px;
  border-radius: 3px;
  background-color: hsl(223, 64%, 98%);
}
.add-delete button {
  background: transparent;
  border: none;
  color: hsl(26, 100%, 55%);
  font-size: 20px;
  font-weight: bolder;
}
.add-delete p {
  font-weight: 700;
}
.cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(223, 64%, 98%);
  font-weight: 700;
  letter-spacing: 1px;
  background-color: hsl(26, 100%, 55%);
  border: none;
  border-radius: 6px;
  width: 100%;
  height: 40px;
  margin-bottom: 4px;
  gap: 20px;
}
.Shopping-Cart {
  display: none;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  box-shadow: -0.2px 0.2px 10px 1px hsl(220, 14%, 75%);
  position: absolute;
  border-radius: 5px;
  width: 85%;
  height: 280px;
  margin: 10px 0 0 27px;
}

.cart-heading {
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 30px;
  padding: 20px 15px;
}
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  line-height: 20px;
  padding: 30px 15px;
}
.cart-item p {
  font-size: 15px;
}
.cart-thumb {
  width: 55px;
  height: 50px;
  border-radius: 7px;
}
.cart-icon {
  color: white;
}

.checkout-price {
  font-weight: bolder;
}

.Shopping-Cart button {
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  border-radius: 8px;
  border: none;
  height: 60px;
  width: 90%;
  align-self: center;
  margin: 0px 10px 20px 10px;
}

.Shopping-Cart button:hover {
  cursor: pointer;
}
.lightbox-container {
  display: none;
}
@media screen and (min-width: 768px) {
  .Shopping-Cart {
    width: 85%;
    height: 500px;
    margin: 10px 0 0 55px;
  }

  .prev {
    left: 70px;
    top: 45%;
  }
  .next {
    right: 70px;
    top: 45%;
  }
  .cart-heading {
    padding: 60px 35px;
  }
  .cart-heading p {
    font-size: 35px;
  }
  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    line-height: 50px;
    padding: 30px 15px;
  }
  .cart-item p {
    font-size: 28px;
  }
  .cart-thumb {
    width: 80px;
    height: 80px;
    border-radius: 7px;
  }
}

@media screen and (min-width: 1024px) {
  .whole-page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    padding: 0 20px;
  }
  .page-view {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  .menu {
    display: none;
  }
  .lightbox-container {
    display: block;
  }

  .prev {
    display: none;
  }
  .next {
    display: none;
  }
  .x-mark {
    display: none;
  }
  .desktop-navlist {
    display: block;
    width: 100%;
  }
  .desktop-navlist ul li a:hover {
    cursor: pointer;
  }
  .nav {
    gap: 20px;
    border-bottom: 1px solid hsl(220, 14%, 75%);
  }
  .nav-left {
    width: 60%;
    justify-content: space-between;
  }

  .nav-right {
    width: 20%;
    justify-content: end;
  }
  .cart-number {
    margin: 10px 55px 30px 50px;
  }

  .nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
  }
  .main-image img {
    border-radius: 20px;
    width: 100%;
  }
  .lightbox-main {
    z-index: 99;
    /* display: none; */
  }
  /* .main-image1 {
    display: none;
    height: 350px;
    border-radius: 10px;
    margin-bottom: 10px;
  } */

  .product-thumb {
    display: flex;
    gap: 15px;
    margin-top: 15px;
  }
  .product-thumb img {
    width: 85px;
    border-radius: 20px;
  }
  .product-thumb img:hover {
    cursor: pointer;
    opacity: 20%;
  }

  .add-cart {
    display: flex;
    flex-direction: row;
  }
  .Shopping-Cart {
    margin: 10px;
    width: 500px;
    height: 300px;
    display: flex;
    margin: 10px 0 0 49%;
    justify-content: center;
  }
  .cart-heading {
    font-size: 1px;
    font-weight: bold;
    padding: 15px 40px;
  }
  .cart-heading p {
    font-size: 20px;
  }
  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    padding: 30px 40px;
  }
  .cart-item p {
    font-size: 22px;
  }
  .Shopping-Cart button {
    width: 85%;
  }
  .light-box-image {
    max-width: 100%;
    position: relative;
    display: inline-flex;
  }
  .light-box-image img {
    background-color: black;
    border-radius: 10px;
    opacity: 1;
    position: relative;
  }
  .lightbox-background {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    background-color: black;
    opacity: 0.9;
    transition: 3s ease-in-out;
  }
  .lightbox-container {
    display: flex;
    position: absolute;
    width: 100%;
    padding: 30%;
    margin: 0 auto;
    transition: 3s ease-in-out;
  }
  .previous {
    display: flex;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 30%;
    background: white;
    padding: 10px;
    border-radius: 100%;
  }
  .forward {
    display: flex;
    align-items: center;
    position: absolute;
    top: 45%;
    right: 30%;
    background: white;
    padding: 10px;
    border-radius: 100%;
  }
  .closeLightBox {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20%;
    right: 30%;
    padding: 10px;
    border: 2px solid white;
    border-radius: 100%;
  }
  /* .full-screen{
    background-color: black;
    opacity: 0.9;
    z-index: 9;
  } */
}
@media screen and (min-width: 1440px) {
  .lightbox-container {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100vh;
    /* padding: 30%; */
    margin: 0 auto;
    transition: 3s ease-in-out;
  }
  .product {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
  }
  .main-image img {
    border-radius: 20px;
    width: 80%;
  }
  .forward {
    display: flex;
    align-items: center;
    position: absolute;
    top: 45%;
    right: 37.2%;
    background: white;
    padding: 10px;
    border-radius: 100%;
  }
  .closeLightBox {
    display: flex;
    align-items: center;
    position: absolute;
    top: 15%;
    right: 37.2%;
    padding: 10px;
    border: 2px solid white;
    border-radius: 100%;
  }
  .carousel {
    width: 80%;
  }
  .main-image img {
    height: auto;
    width: 100%;
  }
  .descripion-div {
    padding-right: 100px;
  }
  .Shopping-Cart {
    margin: 10px 0 0 60%;
  }
}

/*

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  border-bottom: 1px solid hsl(220, 14%, 75%);
  margin: 0 250px 50px 250px;
  color: hsl(219, 9%, 45%);
  position: relative;
}

.nav-links {
  display: flex;
  align-items: center;
  height: 40px;
}

.nav-links ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links ul li a {
  padding-bottom: 39px;
}
.nav-links ul li a:hover {
  border-bottom: 4px solid hsl(26, 100%, 55%);
  cursor: pointer;
}
.logo {
  height: 15px;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 30px;
}
.cart-number {
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  width: 15px;
  padding: 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  position: absolute;
  right: 47px;
  top: 13px;
}

.Shopping-Cart {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  box-shadow: -0.2px 0.2px 10px 1px hsl(220, 14%, 75%);
  width: 300px;
  position: absolute;
  padding: 10px 10px;
  right: 230px;
  top: 70px;
  border-radius: 5px;
}
.cart-heading {
  font-size: 17px;
  font-weight: bold;
  border-bottom: 1px solid hsl(220, 14%, 75%);
}
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
  font-size: 13px;
  line-height: 14px;
}
.cart-thumb {
  width: 55px;
  height: 50px;
  border-radius: 7px;
}

.cart-icon {
  color: white;
}

.checkout-price {
  font-weight: bolder;
}

.Shopping-Cart button {
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  border-radius: 8px;
  border: none;
  height: 40px;
  width: 280px;
  align-self: center;
  margin: 10px;
}

.Shopping-Cart button:hover {
  cursor: pointer;
}

.profie-img {
  height: 30px;
}
.profie-img:hover {
  border: 2px solid hsl(26, 100%, 55%);
  border-radius: 50%;
  cursor: pointer;
}

.page-view {
  display: flex;
  justify-content: center;
  padding: 0 300px;
  gap: 40px;
}

.product {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.main-image {
  width: 85%;
  height: 400px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.product-thumb {
  display: flex;
  width: 100%;
  height: 100px;
  gap: 20px;
}

.product-thumb img {
  width: 80px;
  height: 70px;
  border-radius: 10px;
}
.descripion-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info {
  color: hsl(219, 9%, 45%);
}

.price {
  display: flex;
  align-items: center;
  gap: 20px;
}

.new-price {
  font-size: 22px;
  font-weight: bold;
}

.discount {
  background-color: hsl(25, 100%, 94%);
  font-size: 12px;
  color: hsl(26, 100%, 55%);
  padding: 4px;
  border-radius: 4px;
}

.actual-price {
  padding: 0;
  margin: 0;
  color: hsl(219, 9%, 45%);
  text-decoration: line-through;
}

.company {
  font-size: 12px;
  font-weight: bold;
  color: hsl(26, 100%, 55%);
}

.add-cart {
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 20px;
  padding-top: 20px;
}
.add-delete {
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 3px;
  width: 150px;
  gap: 35px;
  background-color: hsl(223, 64%, 98%);
}

.add-cart button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 200px;
  gap: 20px;
}
.add-cart button:hover {
  cursor: pointer;
}
.add-delete button {
  background: transparent;
  border: none;
  color: hsl(26, 100%, 55%);
  font-size: 20px;
  font-weight: bolder;
}
.add-delete button:hover {
  cursor: pointer;
}

.cart-button {
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  border-radius: 8px;
  border: none;
}

.cart-button img {
  color: hsl(0, 0%, 100%);
} */
